//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-main {
  background-color: $shark;
  padding: 50px 0;

  p {
    color: $white;
    font-size: 0.875rem;
    width: 417px;
  }
}