//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-main {
  background-color: $shark;
  padding: 50px 0;

  p {
    color: $white;
    font-size: 15px;
    max-width: 415px;
  }
}