//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home {
  .hero {
    background-color: $red-ribbon;
    position: relative;
    z-index: 1;
    padding: 150px 0;

    .row {
      align-items: center;

      .content-wrapper {

        h2 {
          font-size: 4.5rem;
          font-weight: 700;
          color: $white;
          line-height: 1;
          margin: 0;
          font-family: $font-oswald-semibold;
        }

        p {
          color: $white;
          font-size: 1.25rem;
          margin: 30px 0;
        }

        p:nth-child(3) {
          font-size: 1rem;
          a {
            color: $white;
            border-bottom: 1px solid $white;
            text-decoration: none;

            &:hover {
              color: $silver-mercury;
            }
          }
        }


      }

      .col-relative {
        position: relative;
        
        .image-wrapper {
          position: absolute;
          top: -100px;
          right: 0;
          bottom: initial;
          left: 0;
          
          &::after {
            content: '';
            position: absolute;
            top: initial;
            right: initial;
            left: 170px;
            bottom: -15px;
            width: 110px;
            height: 110px;
            background-color: $red-ribbon;
            border-radius: 50%;
          }
  
          img {
            width: 500px;
            height: 500px;
          }
        }
      }
    }

  }

  .system {
    padding-top: 200px;
    padding-bottom: 300px;
  
    .image-wrapper {
      position: relative;
      // margin-left: 180px;

      &::before {
        content: '';
        position: absolute;
        top: 60px;
        right: initial;
        left: -20px;
        bottom: initial;
        width: 110px;
        height: 110px;
        background-color: $red-ribbon;
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        top: initial;
        right: 140px;
        left: initial;
        bottom: -60px;
        width: 70px;
        height: 70px;
        background-color: #fff;
        border: 14px solid #f01327;
        border-radius: 50%;
      }

      .system1 {
        width: 567px;
        height: 567px;
        position: relative;
      }
  
      .system2 {
        width: 405px;
        height: 405px;
        position: absolute;
        top: 250px;
        right: initial;
        bottom: initial;
        left: -100px;
        border: 10px solid $white;
      }
  
      .system3 {
        width: 244px;
        height: 244px;
        position: absolute;
        top: initial;
        right: 0;
        bottom: initial;
        left: 0;
      }
    }

    .content-wrapper {

      h2 {
        font-weight: 700;
        font-size: 3.75rem;
        font-family: $font-oswald-semibold;

        span {
          color: $red-ribbon;
        }
      }

      .sub-heading {
        color: $gray;
        font-weight: 700;
        margin: 20px 0;
        font-size: 1rem;
        line-height: 1.6;
      }

      li {
        display: flex;

        svg {
          width: 15px;
          fill: $red-ribbon;
        }

        .li-p {
          color: $black;
          font-style: italic;
          margin: 0;
          font-size: 14px;
          line-height: 1.6;
          margin-left: 10px;
        }
      }
      
      .freepik {
        font-size: 1rem;
        margin: 20px 0;
        a {
          color: $black;
          border-bottom: 1px solid $red-ribbon;
          text-decoration: none;

          &:hover {
            color: $silver-mercury;
          }
        }
      }





    }
  }

  .cards {
    background-color: $shark;
    padding: 120px;
    position: relative;

    svg {
      fill: #f01327;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 900px;
      display: block;
      margin: auto;
    }

    .main-col {
      max-width: 34%;

      .content-wrapper {
        background-color: $white;
        padding: 50px 30px 70px;


        h2 {
          font-size: 4.5rem;
          font-family: $font-oswald-semibold;
        }

        p {
          margin: 10px 0;
          font-size: 1rem;
        }

  
      }

    }
  }

  .about {
    background-color: $red-ribbon;
    padding: 50px;

    .content-wrapper {
      h2 {
        font-size: 6rem;
        font-style: normal;
        color: $white;
        font-family: $font-oswald-semibold;
      }

      p {
        letter-spacing: 2px;
        width: 780px;
        line-height: 2;
        margin: 30px auto;
        color: $white;
        font-size: 15px;
      }
    }
  }

  .services {
    background-color: $shark;
    padding: 100px;

    .main-col {

      .image-wrapper {
        
        img {
          width: 351px;
          height: 351px;
        }
      }

    }    


  }


}

