//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home {
  // padding-top: 92px;
  .hero {
    background-color: $red-ribbon;
    position: relative;
    z-index: 1;
    padding: 75px 0;

    .row {
      align-items: center;

      .content-wrapper {
        h2 {
          font-size: 4.5rem;
          font-weight: 700;
          color: $white;
          line-height: 1;
          margin: 0;
          font-family: $font-oswald-semibold;
          max-width: 380px;
        }
        p {
          color: $white;
          font-size: 1.25rem;
          margin: 30px 0;
        }
        p:nth-child(3) {
          font-size: 1rem;
          a {
            color: $white;
            border-bottom: 1px solid $white;
            text-decoration: none;

            &:hover {
              color: $silver-mercury;
            }
          }
        }
      }

      .col-relative {

        .image-wrapper {
          position: relative;
          margin-bottom: -200px;
          
          &::after {
            content: '';
            position: absolute;
            top: initial;
            right: initial;
            left: 60px;
            bottom: -15px;
            width: 110px;
            height: 110px;
            background-color: $red-ribbon;
            border-radius: 50%;
          }

          img {
            width: 520px;
            height: 520px;
          }
        }
      }
    }
  }

  .system {

    .row {
      align-items: center;

      .main-col-left {
        padding-top: 200px;
        padding-bottom: 300px;
        .image-wrapper {
          position: relative;
    
          &::before {
            content: '';
            position: absolute;
            top: 60px;
            right: initial;
            left: 0;
            bottom: initial;
            width: 110px;
            height: 110px;
            background-color: $red-ribbon;
            border-radius: 50%;
          }
    
          &::after {
            content: '';
            position: absolute;
            top: initial;
            right: 8%;
            left: initial;
            bottom: -20%;
            width: 70px;
            height: 70px;
            background-color: $white;
            border: 14px solid $red-ribbon;
            border-radius: 50%;
          }
    
          .system1 {
            width: 567px;
            height: 567px;
            position: relative;
            margin-right: 0;
          }
      
          .system2 {
            width: 405px;
            height: 405px;
            position: absolute;
            top: 250px;
            right: initial;
            bottom: initial;
            left: 0;
            border: 10px solid $white;
          }
      
          .system3 {
            width: 244px;
            height: 244px;
            position: absolute;
            top: initial;
            right: 21%;
            bottom: -44%;
            left: initial;
          }
        }
      }

      .main-col-right {
        padding-top: 200px;
        padding-bottom: 300px;
        padding-right: 0;
        padding-left: 45px;
        .content-wrapper {
  
          h2 {
            font-weight: 700;
            font-size: 3.75rem;
            font-family: $font-oswald-semibold;
            max-width: 330px;
    
            span {
              color: $red-ribbon;
            }
          }
    
          .sub-heading {
            color: $gray;
            font-weight: 700;
            margin: 20px 0;
            font-size: 1rem;
            line-height: 1.6;
          }
    
          li {
            display: flex;
    
            svg {
              width: 15px;
              fill: $red-ribbon;
            }
    
            .li-p {
              color: $black;
              font-style: italic;
              margin: 0;
              font-size: 14px;
              line-height: 1.6;
              margin-left: 10px;
            }
          }
          
          .freepik {
            font-size: 1rem;
            margin: 20px 0;
            font-style: italic;
            a {
              color: $black;
              border-bottom: 1px solid $red-ribbon;
              text-decoration: none;
    
              &:hover {
                color: $silver-mercury;
              }
            }
          }
    
        }
      }
    }
  }

  .cards {
    background-color: $shark;
    padding: 120px 0;
    position: relative;

    svg {
      fill: $red-ribbon;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 900px;
      display: block;
      margin: auto;
    }

    .main-col {
      max-width: 34%;

      .content-wrapper {
        background-color: $white;
        padding: 50px 30px 70px;


        h2 {
          font-size: 4.5rem;
          font-family: $font-oswald-semibold;
        }

        p {
          margin: 10px 0;
          font-size: 1rem;
        }

  
      }

    }
  }

  .about {
    background-color: $red-ribbon;
    padding: 50px 0;

    .content-wrapper {
      h2 {
        font-size: 6rem;
        font-style: normal;
        color: $white;
        font-family: $font-oswald-semibold;
      }

      p {
        letter-spacing: 2px;
        width: 780px;
        line-height: 2;
        margin: 30px auto;
        color: $white;
        font-size: 15px;
      }
    }
  }

  .services {
    background-color: $shark;
    padding: 100px 0;

    .main-col-left {
      .image-wrapper {
        position: relative;

        img {
          position: relative;
          z-index: 1;
          width: 350px;
          height: 350px;
        }

        &::before {
          content: '';
          position: absolute;
          top: initial;
          right: 0;
          left: initial;
          bottom: -45px;
          width: 350px;
          height: 350px;
          background-color: $red-ribbon;
          border-radius: 50%;
        }

      }

      .content-left-wrapper {
        margin-top: 200px;
        p {
          color: $white;
          font-size: 1rem;
          line-height: 1.6;
          max-width: 380px;
        }
      }      

    }  
    
    .main-col-right {
      padding: 0 60px 55px 40px;

      .content-right-wrapper {
        h2 {
          font-size: 3.75rem;
          line-height: 1.1;
          color: $white;
          font-family: $font-oswald-semibold;
          max-width: 380px;
        }

        .freepik {
          font-size: 1rem;
          margin: 20px 0;
          color: $white;
          a {
            color: $white;
            border-bottom: 1px solid $red-ribbon;
            text-decoration: none;
  
            &:hover {
              color: $silver-mercury;
            }
          }
        }
      }


      .image-wrapper {
        position: relative;
        margin-top: 100px;
        img {
          width: 460px;
          height: 460px;
          border-width: 11px;
        }
        
        &::after {
          content: '';
          position: absolute;
          top: initial;
          right: 15px;
          left: initial;
          bottom: -55px;
          width: 100px;
          height: 100px;
          background-color: $red-ribbon;
          border-radius: 50%;  
        }
      }


    }
  }

  .premium {

    .main-col-left {
      .content-wrapper {
        padding-right: 40px;
        h5 {
          font-size: 1.25rem;
          line-height: 1.2;
          text-transform: uppercase;
        }
  
        h2 {
          font-size: 3.75rem;
          margin: 26px 0 0;
          font-family: $font-oswald-semibold;
          max-width: 455px;
  
          span {
            color: $red-ribbon;
          }
        }
  
        .description {
          margin: 50px 0 0;
          font-size: 16px;
        }
  
        .freepik {
          font-size: 1rem;
          margin: 20px 0;
          a {
            color: $black;
            border-bottom: 2px solid $red-ribbon;
            text-decoration: none;
  
            &:hover {
              color: $black;
            }
          }
        }
  
      }
    }

    .main-col-right {
      padding: 220px 0;

      .image-wrapper {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -90px;
          right: initial;
          left: 0;
          bottom: initial;
          width: 240px;
          height: 240px;
          background-color: $white;
          border: 40px solid $red-ribbon;
          border-radius: 50%;
          z-index: 5;
        }

        &::after {
          content: '';
          position: absolute;
          top: initial;
          right: 170px;
          left: initial;
          bottom: -165px;
          width: 100px;
          height: 100px;
          background-color: #f01327;
          border-radius: 50%;
          z-index: 8;
        }

        .premium1 {
          position: relative;
          z-index: 10;
          width: 480px;
          height: 480px;
          margin-right: 15px;
        }

        .premium2 {
          position: absolute;
          top: initial;
          right: initial;
          bottom: -100px;
          left: 0;
          z-index: 15;
          width: 250px;
          height: 250px;
          box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, .40);
        }

      }
    }
  }

  .contact {
    overflow: hidden;
    padding: 160px 0;
    background-color: $shark;

    .container {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 626px;
        height: 626px;
        background-color: $red-ribbon;
        border-radius: 50%;
        display: block;
        margin: auto;
      }

      .row {
        position: relative;
        z-index: 5;
        align-items: unset;
        padding: 15px;
  
        .main-col-left {
          background-color: $white;
          padding: 50px;
          .form-wrapper {
    
            .input-flex {
              display: flex;
              justify-content: space-between;
    
              input {
                padding: 10px;
                width: 47%;
              }
            }
    
            input {
              font-size: 15px;
              padding: 10px;
              width: 100%;
              border: 2px solid $black;
  
              &::placeholder {
                font-size: 15px;
                color: $gray;
              }
            }
    
            textarea {
              padding: 10px;
              width: 100%;
              height: 100px;
              border: 2px solid $black;
  
              &::placeholder {
                font-size: 15px;
                color: $gray;
              }
            }
  
    
          }
        }
    
        .main-col-right {
          background: $shark;
          box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .40);
          .content-wrapper {
            padding: 60px 15px 0;
            h2 {
              text-align: right;
              color: $white;
              font-size: 120px;
              font-family: $font-oswald-semibold;
            }
    
            span {
              display: block;
              background: $white;
              height: 6px;
              width: 230px;
              transform-origin: left center;
            }
    
          }
    
    
        }
      }

    }

   
 
  }




  // Laptop
  @media (min-width: 992px) and (max-width: 1199px) {
    .hero {
      padding: 60px 0;
      .row {
        .content-wrapper {
          h2 {
            font-size: 50px;
          }
          p {
            max-width: 380px;
          }
        }
        .col-relative {
          .image-wrapper {

            &::after {
              bottom: -5%;
              left: 14%;

            }
            img {
              width: 450px;
              height: 450px;
            }
          }
        }
      }
    }

    .system {
      .row {

        .main-col-left {
          .image-wrapper {
    
            &::before {
              left: 15px;
              width: 90px;
              height: 90px;
              z-index: 5;
            }
      
            &::after {
             right: 8%;
             bottom: -25%;
            }
      
            .system1 {
              width: 567px;
              height: 567px;
            }
        
            .system2 {
              width: 303px;
              height: 303px;
              top: 63%;
              left: 0;
            }
        
            .system3 {
              width: 201px;
              height: 201px;
              bottom: -34%;
              right: 25%;
            }
          }
        }
      
        .main-col-right {
          margin-bottom: -220px;
          padding-left: 0;
          .content-wrapper {
    
            h2 {
              font-size: 48px;
            }    
      
          }
        }

      }
    }

    .cards {
      padding: 140px 0;
      svg {
        max-width: 750px;
      }
      .main-col {  
        .content-wrapper {
          padding: 20px 30px 40px;  
        }
      }
    }

    .about {
      padding: 60px 0;
      .content-wrapper {
        h2 {
          font-size: 90px;
        }
        p {
          font-size: 15px;
        }
      }
    }

    .services {
      padding: 60px 0;
      .main-col-left {
        .image-wrapper {
          img {
            width: 250px;
            height: 250px;
          }
          &::before {
            width: 250px;
            height: 250px;
          }
        } 
        .content-left-wrapper {
          padding-left: 20px;
          margin-top: 180px;
        }
      }  
      
      .main-col-right {
        padding: 50px;
  
        .content-right-wrapper {
          h2 {
            font-size: 55px;
          }
        }
  
        .image-wrapper {
          position: relative;
          margin-top: 80px;
          img {
            width: 420px;
            height: 420px;
          }
          
          &::after {
            right: 70px;
            bottom: -45px;
          }
        }

      }
    }

    .premium {
      .main-col-left {
        .content-wrapper {
          padding: 20px 0;
          h2 {
            font-size: 58px;
          }
    
          .description {
            line-height: 1.5;
          }
        }
      }

      .main-col-right {
        .image-wrapper {
  
          &::after {
            right: 130px;
          }
  
          .premium1 {
            width: 420px;
            height: 420px;
          }
  
        }
      }
    }
    
  }

  // Mobile Landscape - Tablet
  @media (min-width: 576px) and (max-width: 991px) {

    .hero {
      .row {
        .col-relative {
          padding-top: 40px;
          .image-wrapper {
            margin-bottom: -300px;
            
            &::after {
              left: 100px;
              bottom: 20px;
              width: 100px;
              height: 100px;
            }
  
            img {
              width: 500px;
              height: 500px;
            }
          }
        }
      }
    }

    .system {
      padding-top: 200px;
      padding-bottom: 50px;
      .row {
        .main-col-left {
          padding: 200px 0;
          .image-wrapper {
    
            &::before {
              top: -120px;
              left: 0;
              width: 70px;
              height: 70px;
            }
      
            &::after {
              right: 70px;
              bottom: -40px;
            }
      
            .system1 {
              width: 400px;
              height: 400px;
            }
        
            .system2 {
              width: 230px;
              height: 230px;
              top: 230px;
              left: -15px;
            }
        
            .system3 {
              width: 150px;
              height: 150px;
              bottom: -185px;
              right: -25px;
            }
          }
        }
      
        .main-col-right {
          padding: 0;
          .content-wrapper {
    
            h2 {
              font-size: 48px;
            }    
      
          }
        }

      }
    }

    .cards {
      padding: 140px 0;
      svg {
        max-width: 700px;
      }
      .main-col {  
        max-width: 45%;
        .content-wrapper {
          padding: 20px 30px 40px;  
        }
      }
    }

    .about {
      padding: 50px 0;
      .content-wrapper {
        h2 {
          font-size: 80px;
        }
        p {
          width: unset;
          font-size: 15px;
        }
      }
    }

    .services {
      padding: 60px 0;
      .main-col-left {
        .image-wrapper {
          img {
            width: 350px;
            height: 350px;
          }
          &::before {
            right: initial;
            left: 100px;
            bottom: -35px;
            width: 350px;
            height: 350px;
          }
        } 
        .content-left-wrapper {
          padding-left: 20px;
          margin-top: 120px;
        }
      }  
      
      .main-col-right {
        padding: 50px;
  
        .content-right-wrapper {
          h2 {
            font-size: 60px;
          }
        }
        .image-wrapper {
          margin-top: 80px;
          img {
            margin-left: 0;
            width: 420px;
            height: 420px;
          }
          
          &::after {
            right: 70px;
            bottom: -45px;
          }
        }
      }
    }

    .premium {
      padding: 110px 0;
      .main-col-left {
        .content-wrapper {
          h2 {
            font-size: 48px;
          }
    
          .description {
            line-height: 1.5;
          }
        }
      }

      .main-col-right {
        padding-top: 105px;
        padding-bottom: 200px;
        .image-wrapper {
  
          &::after {
            right: 20%;
            bottom: -60%;
          }
  
          .premium1 {
            width: 330px;
            height: 330px;
          }

          .premium2 {
            width: 210px;
            height: 210px;
          }
  
        }
      }
    }

    .contact {
      .container {

        .row {
          .main-col-right {
            .content-wrapper {
              padding: 40px 15px;
              h2 {
                font-size: 90px;
                text-align: left;
              }
              span {
                width: 200px;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }

  // Mobile Landscape

  @media (min-width: 576px) and (max-width: 767px) {
    .contact {
      padding: 80px 0;
      .container {
        &::before {
          top: -50px;
          bottom: initial;
          width: 500px;
          height: 500px;
          margin: 0 auto;

        }
        .row {
          .main-col-left {
            order: 2;
            background-color: $white;
          }
      
          .main-col-right {
            order: 1;
            .content-wrapper {
              padding: 40px;
              h2 {
                font-size: 85px;
                text-align: left;
                br {
                  display: none;
                }
              }
              span {
                width: 200px;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }

    .system {
      .row {
        .main-col-left {
          padding-top: 35px;
          padding-bottom: 200px;
          order: 2;
          .image-wrapper {
            &::before {
              top: -85px;
            }
          }
        }
      
        .main-col-right {
          padding: 80px 0;
          background-color: $white;
          order: 1;
        }

      }
    }

  }

  // Mobile Portrait

  @media (max-width: 575px) {

    .hero {
      .row {
        padding: 0 20px;

        .content-wrapper {
          h2 {
            font-size: 60px;
          }

          p {
            font-size: 14px;
          }
        }
        .col-relative {
          padding-top: 40px;
          .image-wrapper {
            margin-bottom: -250px;
            
            &::after {
              left: 25px;
              bottom: -10px;
              width: 70px;
              height: 70px;    
            }
  
            img {
              width: 250px;
              height: 250px;
            }
          }
        }
      }
    }

    .system {
      padding-top: 200px;
      padding-bottom: 50px;
      .row {
        .main-col-left {
          order: 2;
          padding-top: 50px;
          padding-bottom: 250px;
          .image-wrapper {
    
            &::before {
              top: -90px;
              left: 40px;
              width: 70px;
              height: 70px;
            }
      
            &::after {
              right: 130px;
              bottom: -85px;
            }
      
            .system1 {
              width: 300px;
              height: 300px;
            }
        
            .system2 {
              width: 210px;
              height: 210px;
              top: 215px;
              left: 85px;
            }
        
            .system3 {
              width: 140px;
              height: 140px;
              bottom: -245px;
              right: -80px;
            }
          }
        }
      
        .main-col-right {
          order: 1;
          padding: 60px 35px;
          background-color: $white;
          .content-wrapper {
    
            h2 {
              font-size: 24px;
            }    
      
          }
        }

      }
    }

    .cards {
      padding: 140px 0;
      svg {
        margin-top: 90px;
        max-width: 450px;
      }
      .main-col {  
        max-width: 80%;
        .content-wrapper {
          padding: 20px 30px 40px;
          
          p {
           font-size: 14px;
          }
        }
      }
    }

    .about {
      padding: 50px 0;
      .content-wrapper {
        h2 {
          font-size: 60px;
        }
        p {
          width: unset;
          line-height: 1.5;
         font-size: 14px;
        }
      }
    }

    .services {
      padding: 60px 0;
      overflow: hidden;
      .main-col-left {
        .image-wrapper {
          img {
            width: 220px;
            height: 220px;
          }
          &::before {
            right: initial;
            left: 75px;
            bottom: -55px;
            width: 200px;
            height: 200px;
          }
        } 
        .content-left-wrapper {
          padding-left: 5px;
          margin-top: 120px;

          p {
           font-size: 14px;
          }
        }
      }  
      
      .main-col-right {
        padding: 50px;
  
        .content-right-wrapper {
          h2 {
            font-size: 36px;
          }
        }
        .image-wrapper {
          margin-top: 80px;
          img {
            margin-left: 0;
            width: 240px;
            height: 240px;
          }
          
          &::after {
            width: 60px;
            height: 60px;
            right: 0;
            bottom: -50px;
          }
        }
      }
    }

    .premium {
      padding: 80px 0;
      .main-col-left {
        .content-wrapper {
          padding: 0 25px;
          h2 {
            font-size: 48px;
          }
    
          .description {
            line-height: 1.5;
           font-size: 14px;
          }
        }
      }

      .main-col-right {
        padding-top: 105px;
        padding-bottom: 200px;
        .image-wrapper {

          &::before {
            width: 160px;
            height: 160px;
            top: -50px;
            left: 65px;
            border-width: 30px;
          }
  
          &::after {
            right: 20%;
            bottom: -60%;
            width: 60px;
            height: 60px;
          }
  
          .premium1 {
            width: 280px;
            height: 280px;
          }

          .premium2 {
            width: 170px;
            height: 170px;
            bottom: -100px;
            left: 100px;
          }
  
        }
      }
    }

    .contact {
      padding: 80px 0;
      .container {
        &::before {
          top: -50px;
          bottom: initial;
          width: 245px;
          height: 245px;
          margin: 0 auto;

        }
        .row {
          margin: 0 20px;
          .main-col-left {
            order: 2;
            background-color: $white;

            .form-wrapper {
              padding: 15px;
              .input-flex {
                flex-direction: column;

                input {
                  width: 100%;
                  
                  &::placeholder {
                   font-size: 14px;
                  }
                }
              }

              textarea {
                &::placeholder {
                 font-size: 14px;
                }
              }
            }
          }
      
          .main-col-right {
            order: 1;
            .content-wrapper {
              padding: 0 15px;
              h2 {
                font-size: 50px;
                text-align: right;
              }
              span {
                width: 120px;
                height: 4px;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }

}

