//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  padding: 10px 30px;
  font-family: $font-helveticaneue-bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: 2px solid;
  border-radius: 0;
  pointer-events: all;
  transition: .35s ease-in-out all;

  @include on-event() {
    text-decoration: none;
    outline: none;
  }
}

.btn-white {
  color: $brand-color;
  border-color: #fff;
  background-color: #fff;

  @include on-event() {
    color: #fff;
    border-color: $brand-color;
    background-color: $brand-color;
  }
}

.btn-white-outline {
  color: #fff;
  border-color: #fff;
  background-color: transparent;

  @include on-event() {
    color: $brand-color;
    background-color: #fff;
  }
}

.btn-hero {
  display: block;
  border: 2px solid $white;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 10px 35px;
  font-weight: 700;
  color: $white;
  font-size: 15px;
  width: fit-content;

  @include on-event() {
    text-decoration: none;
    color: $white;
  }
}

.btn-system {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 10px 30px;
  font-weight: 700;
  color: $white;
  background-color: $black;
  font-size: 15px;
  width: fit-content;

  @include on-event() {
    text-decoration: none;
    color: $white;
  }
}

.btn-cards {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  width: fit-content;
  padding: 0;
  border-bottom: 2px solid $red-ribbon;

  @include on-event() {
    text-decoration: none;
    color: $red-ribbon;
    border-bottom: 2px solid $black;
  }
}

.btn-about {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  color: $red-ribbon;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  width: fit-content;
  background-color: $white;
  padding: 10px 20px;

  &:hover {
    text-decoration: none;
    color: $red-ribbon;
  }
}

.btn-services {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 10px 35px;
  font-weight: 700;
  color: $white;
  font-size: 15px;
  width: fit-content;
  background-color: $red-ribbon;

  @include on-event() {
    text-decoration: none;
    color: $white;
  }
}

.btn-premium {
  display: block;
  border-bottom: 5px solid $red-ribbon;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding-bottom: 10px;
  font-weight: 700;
  color: $black;
  font-size: 15px;
  width: fit-content;

  @include on-event() {
    text-decoration: none;
    color: $red-ribbon;
  }
}

.btn-contact {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 35px;
  font-weight: 700;
  color: $white;
  font-size: 15px;
  width: fit-content;
  background-color: $red-ribbon;

  @include on-event() {
    text-decoration: none;
    color: $white;
  }
}





.btn-blue {
  color: #fff;
  border-color: $brand-color;
  background-color: $brand-color;

  @include on-event() {
    color: $brand-color;
    border-color: #fff;
    background-color: #fff;
  }
}

@media (max-width: 991px) {
  .btn {
    padding: 8px 25px;
  }
}